<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <title><%= title%></title>
  <link href="/css/bootstrap.min.css" rel="stylesheet">
  <!-- Custom styles for this template -->
  <link href="/css/jumbotron.css" rel="stylesheet">
  <style>
  .page-title{
    text-align: center;
    margin: 0 0 30px 0;
  }
  .regist{
    text-align: center;
  }
  </style>
</head>
<body>
    <h1 class="page-title"><%= title%></h1>
    <div class="container regist">
      <!-- Example row of columns -->
      <a class="btn btn-default" href="/" role="button">返回</a>
    </div> <!-- /container -->
    <script src="/js/jquery.min.js"></script>
    <script src="/js/bootstrap.min.js"></script>
</body>
</html>