<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <title>Document</title>
  <link href="/css/bootstrap.min.css" rel="stylesheet">
  <!-- Custom styles for this template -->
  <link href="/css/jumbotron.css" rel="stylesheet">
  <style>
  .page-title{
    text-align: center;
  }
  .center{
    width: 50%;
    margin: 0 auto;
  }
  </style>
</head>
<body>
    <h1 class="page-title">图书列表</h1>
    <div class="container regist">
      <div class="bs-example" data-example-id="simple-table">
        <table class="table">
          <caption>
            <a class="btn btn-success" href="/addbook" role="button">增加图书</a>
          </caption>
          <thead>
            <tr>
              <th>#</th>
              <th>图书名字</th>
              <th>图书作者</th>
              <th>图书价格</th>
              <th>操作图书</th>
            </tr>
          </thead>
          <tbody>
            <% for(var i = 0; i < booklist.length; i++) {%>
            <tr>
              <th scope="row"><%= i + 1 %></th>
              <td><%= booklist[i].name %></td>
              <td><%= booklist[i].author %></td>
              <td>&yen; <%= booklist[i].price %></td>
              <td><a href="/editbook?id=<%= booklist[i]._id %>" role="button">修改</a></td>
            </tr>
            <% } %>
          </tbody>
        </table>
      </div>
    </div> <!-- /container -->
    <script src="/js/jquery.min.js"></script>
    <script src="/js/bootstrap.min.js"></script>
</body>
</html>